!!!
%html
  %head
    %title fbgraph_example - desktop version
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
      = stylesheet_link_tag "application"
      = javascript_include_tag "application"
      = csrf_meta_tags
  %body
    %div{"data-role" => "page", "data-title" => controller_name }
      = yield
      %div{"data-position" => "fixed", "data-role" => "footer"}
        %div{"data-role" => "navbar"}
          %ul
            %li
              = link_to home_path, :class => ("ui-btn-active" if controller_name== 'home'), :"data-icon" => "home", :"data-iconpos" => "top" do
                Home
            %li
              = link_to search_path, :class => ("ui-btn-active" if controller_name == 'search'), :"data-icon" => "search", :"data-iconpos" => "top" do
                Search 
            %li
              = link_to selections_path, :class => ("ui-btn-active" if controller_name == 'selection'), :"data-icon" => "check", :"data-iconpos" => "top" do
                Selection 



